.yellow-text{
    color: yellow;
}

.carousel-item img{
    margin: auto;
}

.pink{
    background-color: pink;
}

.blue{
    background-color: rgb(163, 199, 237);
}

.green{
    background-color: rgb(135, 223, 135);
}